# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API-ключи
API_KEY= # доступ для API https://eodhd.com
API_KEY1= # доступ для API https://api.currencylayer.com
